name: Rust

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: 'ubuntu-latest'
        description: "Defines type of machine to run on. Defaults to ubuntu-latest"
      cargo-features:
        required: false
        type: string
        default: ""
        description: "Comma separated list of cargo features to enable"
      cargo-test-run:
        required: false
        type: boolean
        default: true
        description: "Specifies whether to build and run tests"
      # Additional arguments added to test invocation
      cargo-test-args:
        required: false
        type: string
        default: ""
        description: "Additional command line arguments to append to the test command invocation"
      # Minimal rust version check
      min-rustc-version:
        required: false
        type: string
        default: ""
        description: "Specifies additional check to verify that code can be compiled with specific rust version"
      # Perform no features run
      cargo-no-features:
        required: false
        type: boolean
        default: false
        description: "Specifies whether to perform build with no default features in addition to default"
      # Enables valgrind
      valgrind:
        required: false
        type: boolean
        default: false
        description: "Specifies to run tests under Valgrind (Linux only)"
      valgrind_flags:
        required: false
        type: string
        default: ''
        description: "Additional flags for valgrind run in addition to default `--leak-check=full --error-exitcode=1`"
      # Enables MIRI
      miri:
        required: false
        type: boolean
        default: false
        description: "Specifies to run tests under MIRI (Can be very slow)"
      miri_flags:
        required: false
        type: string
        default: ''
        description: "Additional flags to set under  MIRI run"
      miri_rust_flags:
        required: false
        type: string
        default: ''
        description: "Additional rustc flags to set under MIRI run"

jobs:
  check-rust:
    runs-on: ${{ inputs.runs-on }}

    steps:
    - id: vars
      name: Setup variables
      # $GITHUB_OUTPUT is env variable so powershell will have different way to access it
      # Use python to work it around
      shell: python
      if: inputs.cargo-features != ''
      run: |
        from os import environ
        print("::notice::Run with following features=${{ inputs.cargo-features }}")
        with open(environ['GITHUB_OUTPUT'], 'a') as github_output:
          github_output.write("CARGO_ARGS=--features ${{ inputs.cargo-features }}\n")

    - uses: actions/checkout@v6

    - name: Check Rust installation is up to date
      run: rustup update

    - name: Install Miri
      if: inputs.miri != false
      run: |
        rustup toolchain install nightly
        rustup +nightly component add miri

    - name: Install Valgrind
      if: inputs.valgrind != false && runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y valgrind

    - name: Rust version
      run: |
        cargo --version
        rustc --version

    - name: Check ${{inputs.min-rustc-version}} rustc version
      if: inputs.min-rustc-version != ''
      run: |
        rustup install ${{ inputs.min-rustc-version }}
        cargo +${{ inputs.min-rustc-version }} check

    - name: Check build no features
      if: inputs.cargo-no-features == true
      run: cargo check --no-default-features

    - name: Check build
      run: cargo check ${{ steps.vars.outputs.CARGO_ARGS }}

    - name: Test
      if: inputs.cargo-test-run == true
      run: cargo test ${{ steps.vars.outputs.CARGO_ARGS }} ${{ inputs.cargo-test-args }}

    - name: Valgrind Test
      if: inputs.valgrind != false && runner.os == 'Linux'
      env:
        CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUNNER: "valgrind --leak-check=full --error-exitcode=1 ${{ inputs.valgrind_flags }}"
      run: cargo test ${{ steps.vars.outputs.CARGO_ARGS }} ${{ inputs.cargo-test-args }}

    - name: Miri Test
      if: inputs.miri != false
      env:
        MIRIFLAGS: ${{ inputs.miri_flags }}
        RUSTFLAGS: ${{ inputs.miri_rust_flags }}
      run: cargo +nightly miri test ${{ steps.vars.outputs.CARGO_ARGS }} ${{ inputs.cargo-test-args }}
